@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
@keyframes shine {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(120%);
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes luxuryFloat {
  0% {
    transform: scale(1.02) translateY(0px);
  }

  50% {
    transform: scale(1.06) translateY(-6px);
  }

  100% {
    transform: scale(1.02) translateY(0px);
  }
}

.luxury-float {
  animation: luxuryFloat 16s ease-in-out infinite;
}

/* ================= Reviews Auto Scroll ================= */

@keyframes reviewScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-review-scroll {
  display: flex;
  width: max-content;
  animation: reviewScroll 45s linear infinite;
}

.animate-review-scroll:hover {
  animation-play-state: paused;
}

html,
body {
  overflow-x: hidden;
}